
  .footer {
    background-color: #1f1f1f; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0 auto;
    width: 113%;
    margin-left: -80px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-wrap: break-word;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    font-size: 34px;
    font-weight: 900;
    font-style: italic;
    margin-top: 10px;
    margin-left: 150px;
    margin-bottom: 40px;
  }
  
  .nav {
    display: flex;
    gap: 20px;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  
  .socials {
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-right: 300px;
    margin-top: 100px;
  }
  
  .socials a {
    color: white;
    text-decoration: none;
  }
  
  .socials a:hover {
    color: #aaa;
  }


  @media(max-width: 360px) {
    .footer {
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    width: 113%;
    }
    .socials{
      font-size: 45px;
      margin-right: 60px;
    }
    .logo {
      font-size: 50px;
    }
    .nav {
      font-size: 25px;
      margin-bottom: 50px;
    }
  }