.section {
    position: relative; 
    padding: 60px 0; 
    box-sizing: border-box;
    background-color: rgba(252, 82, 82, 0.06);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    width: 113%;
    margin-left: -80px;
  }
  
  .heading {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    margin-left: -580px;
  }
  
  .sliderWrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .galleryWrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

  }
  
  .gallery {
    display: flex;
    gap: 24px;
    transition: transform 0.5s ease;

  }
  
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
  }
  
  .arrowLeft {
    left: 8%; 
    top: 35%;
  }
  
  .arrowRight {
    right: 8%; 
    top: 35%;
  }

  .arrowLeft:hover {
    background: rgba(255, 255, 255, 0.692);
  }

  .arrowRight:hover {
    background: rgba(255, 255, 255, 0.695);
  }
  
  .galleryItem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .galleryItem img {
    max-width: 100%;
    transition: transform 0.3s ease;
  }
  
  .galleryItemText {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0); 
    padding: 10px;
    font-size: 18px;
    text-align: left; 
    
  }
  
  .gallery > div:first-child {
    opacity: 0.5; 
    color: hsla(0, 0%, 0%, 0.506);
  }
  
  .gallery > div:last-child {
    opacity: 0.5; 
    color: hsla(0, 0%, 0%, 0.502);
  }

  .stats {
    display: flex;
    gap: 16px;
    font-size: 14px;
    color: #333;
    margin-bottom: -4px; 
  }
  
  .title {
    font-weight: 500;
    font-size: 14px;
    margin-top: 4px; 
  }
  
  .hashtags {
    font-size: 12px;
    color: #999;
    line-height: 1.4;
    margin-top: 2px; 
  }
  
  .bgIcon {
    position: absolute;
    top: 10px;
    left: 420px;
    width: 250px;
    height: auto;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none; 
  }
  
  .card {
    width: 250px;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    transition: opacity 0.3s ease;
  }

  @media (max-width: 360px) {
    .section {
      width: 400vw;
      margin-left: 5px;
    }

    .heading {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 40px;
      margin-left: -580px;
    }
  }